<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="IS2Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings>
<add key="IS2Client.is2address.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2address/Service1.asmx"/>
<add key="IS2Client.is2goirai.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2goirai/Service1.asmx"/>
<add key="IS2Client.is2hinagata.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2hinagata/Service1.asmx"/>
<add key="IS2Client.is2init.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2init/Service1.asmx"/>
<add key="IS2Client.is2kiji.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2kiji/Service1.asmx"/>
<add key="IS2Client.is2otodoke.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2otodoke/Service1.asmx"/>
<add key="IS2Client.is2print.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2print/Service1.asmx"/>
<add key="IS2Client.is2syukka.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2syukka/Service1.asmx"/>
<add key="IS2Client.is2seikyuu.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2seikyuu/Service1.asmx"/>
<add key="IS2Client.is2oshirase.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2oshirase/Service1.asmx"/>
<add key="IS2Client.is2oji.Service1" value="http://wwwis2.fukutsu.co.jp/is2/is2oji/Service1.asmx"/>
<add key="HelpURL" value="http://wwwis2.fukutsu.co.jp/is2/manual/is2manual.pdf"/>
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><applicationSettings>
        <IS2Client.Properties.Settings>
            <setting name="IS2Client_is2address_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2address/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2goirai_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2goirai/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2hinagata_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2hinagata/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2init_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2init/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2kiji_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2kiji/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2oji_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2oji/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2oshirase_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2oshirase/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2otodoke_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2otodoke/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2print_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2print/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2seikyuu_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2seikyuu/Service1.asmx</value>
            </setting>
            <setting name="IS2Client_is2syukka_Service1" serializeAs="String">
                <value>http://wwwis2.fukutsu.co.jp/is2/is2syukka/Service1.asmx</value>
            </setting>
        </IS2Client.Properties.Settings>
    </applicationSettings>
</configuration>
